@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cluster-icon {
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.custom-tooltip {
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

.css-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gps_ring {
    position: absolute;
    border: 3px solid #3B82F6;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: pulsate 1s ease-out infinite;
    z-index: 1;
}

.static_circle {
    @apply bg-blue-600;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    z-index: 2;
    margin: 5px;
}

/* Animation for pulsating ring */
@keyframes pulsate {
    0% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.4;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.0;
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: scale(1.5);
        opacity: 0.0;
    }
}
