@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-cluster-icon {
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.custom-tooltip {
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}
